
.mySwiper{
    position: static !important;
}
.category_title{
    position: relative;
    padding: 1px 20px 1px 5px;
}
.category_title::after{
    content: '';
    display: block;
    background-color: #fffdfd;
    width: 29px;
    height: 14px;
    position: absolute;
    right: -15px;
    bottom: 9px;
    transform: rotate(303deg);
}
.feature_title{
    position: relative;
    padding: 1px 20px 1px 5px;
}
.feature_title::after{
    content: '';
    display: block;
    background-color: #E9E7E7;
    width: 29px;
    height: 14px;
    position: absolute;
    right: -15px;
    bottom: 9px;
    transform: rotate(303deg);
}