.form{
    width: 30%;
    height: 350px;
    border-radius: 10px;
    background: #ffffff;
    margin: 8% auto;
    padding: 20px;
    text-align: center;
    color: rgb(0, 0, 0)
}

.form form{
    margin-top: 20px;
}

.form input{
    width: 100%;
    padding: 5px 10px;
    border-radius: 8px;
   border: 1px solid black;
}

.form button{
    width: 50%;
    margin-top: 20px;
    background-color: black;
    color: white;
}

.social_icons{
    width: 30%;
    font-size: 40px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}